<h1>uComing?</h1>

<h2>Host, Attend, Meet.</h2>

<%- if user_signed_in? %>
  <p>Welcome, <%= link_to current_user.name, edit_user_registration_path %></p>
<%- else -%>
  <p> Welcome :),
      meeting friends just got easier. To begin,
      <%=link_to "log in", user_session_path%>
      , or
      <%=link_to "sign up", new_user_registration_path%>
      if you are new.
  </p>

<% end -%>

<%= link_to_if(current_user.nil?, "Login", user_session_path){}%>
<%= link_to_if(user_signed_in?,"Logout", destroy_user_session_path, :method=>'delete'){}%>

<%- if user_signed_in? %>
  <%= link_to "My events", events_path %>
  <%= link_to "New event", new_event_path %>
<% end -%>
