<h1> Event detail </h1>

<p>Event:
  <%= @event.name %>
</p>
<p>Host:
  <% @attendees.each do |a| %>
    <%= a.user.name %>
  <% end %>
</p>
<p>Location:
  <%= @event.location %>
</p>
<p>Start:
  <%= @event.date_start %>
</p>
<p>End:
  <%= @event.date_end %>
</p>
<p>Description:
  <%= simple_format(@event.description)%>
</p>

<%= link_to('Home', welcome_index_path)%>
