<h1> Event detail </h1>

<p>Event:
  <%= @event.name %>
</p>
<p>Host:
  <%- if @hosts.empty? and !@guestnothost.nil? -%>
    <%= form_with scope: :attendee, url: attendee_path, method: :put, local: true do |form| %>
        <%= form.hidden_field :event_id, value: @event.id %>
        <%= form.hidden_field :user_id, value: current_user.id %>
        <%= form.hidden_field :host_type, value: true %>
      <p>
        <%= form.submit "Be host" %>
      </p>
    <% end %>
  <%- end -%>
  <ul>
  <% @hosts.each do |h| %>
    <li><%= h.user.name %></li>
  <% end %>
  </ul>
</p>
<p>Going:
  <ul>
  <% @going.each do |a| %>
    <li><%= a.user.name %>
        <%- if a.host_type -%>
        <small>host</small>
        <%- end -%>
    </li>
  <% end %>
  </ul>
</p>
<p>Not going:
  <ul>
  <% @notgoing.each do |a| %>
    <li><%= a.user.name %>
        <%- if a.host_type -%>
        <small>host</small>
        <%- end -%>
    </li>
  <% end %>
  </ul>
</p>
<p>Location:
  <%= @event.location %>
</p>
<p>Start:
  <%= @event.date_start.strftime("%d %b %Y %I:%M%P %:z") %>
</p>
<p>End:
  <%= @event.date_end.strftime("%d %b %Y %I:%M%P %:z") %>
</p>
<p>Description:
  <%= simple_format(@event.description)%>
</p>
<%= text_field_tag 'url_link', @url, :readonly => true %>
<button id='copy_url_btn'> <%= image_tag('copyurl.png', size: '15x15') %> </button>

<%- if user_signed_in? -%>
  <p> You are signed in as <%= current_user.name %> </p>
  <%- if !@participants.exists?(user_id: current_user.id)-%>
    <p> You have not responded. </p>
    <%= form_with scope: :attendee, url: attendee_path, local: true do |form| %>
        <%= form.hidden_field :event_id, value: @event.id %>
        <%= form.hidden_field :user_id, value: current_user.id %>
        <%= form.hidden_field :host_type, value: false %>
        <%= form.radio_button :attendance, true %>
        <%= label_tag(:attendance_true, "Going") %>
        <%= form.radio_button :attendance, false %>
        <%= label_tag(:attendance_false, "Not going") %>
      <p>
        <%= form.submit "Respond" %>
      </p>
    <% end %>
  <%- else -%>
    <%- if @participants.where(user_id: current_user.id)[0].attendance -%>
      <p> You are going.</p>
      <%= render "changeFromAttending" %>
    <%- elsif @participants.where(user_id: current_user.id)[0].attendance==false -%>
      <p> You are not going. </p>
      <%= render "changeFromNotAttending" %>
    <%- end -%>
  <%- end -%>
<%- else -%>
  To view options: <%= link_to "Login", new_user_session_path %>
<%- end -%> <br>
<!-- Check if current user is signed in. else prompt signin/login >> redirect to same page
      If user is signed in, check if their status. Are they a guest/host?
      If they are a guest, check if they are invited, and then their attendance.-->
<%= link_to('Home', welcome_index_path)%>
