<h1> Event detail </h1>

<p>Event:
<%= @event.name %>
</p>
<p>Location:
<%= @event.location %>
</p>
<p>Start:
<%= @event.date_start %>
</p>
<p>End:
<%= @event.date_end %>
</p>
<p>Description:
<%= @event.description %>
</p>
